<div class="row">
  <div class="col-4">
    <img class="img-to-zoom"
     (mousemove)="zoom($event)"
     (mouseout)="showZoom = false;"
     [src]="srcImage"
     height="400px" width="400px"
    />
  </div>
  <div class="col-8">
    <div *ngIf="showZoom"
    [style.backgroundImage] = "srcImageZoom"
    [style.backgroundSize]="outputBackgroundSize"
    [style.backgroundPosition]="outputBackgroundPosition"
    [style.height]="resultHeight + 'px'"
    [style.width]="resultWidth + 'px'"
    style="overflow: hidden"
    >
    </div>
  </div>
</div>
